* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: auto; /* PENTING */
}

body {
  display: block; /* JANGAN FLEX */
  text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  background: #000;
  border: 2px solid #444;

  /* ANTI HILANG */
  max-width: 100%;
  height: auto;
}
