canvas {
  background: #222; /* lebih gelap, retro feel */
  display: block;
  margin: 0 auto;
  border: 4px solid #444;
}

/* outline pixel-art pada tiles */
.tile {
  box-sizing: border-box;
  border: 2px solid #000;
}

/* Tombol Dpad */
#dpad button {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 28px;
  background: linear-gradient(#333,#111);
  color: white;
  border: 3px solid #555;
  border-radius: 8px;
  box-shadow: 2px 2px 0 #000;
  transition: transform 0.1s;
}

#dpad button:active {
  transform: translate(2px,2px);
}

/* Tombol bomb */
#bomb-btn button {
  width: 100px;
  height: 100px;
  font-size: 48px;
  background: radial-gradient(circle,#ff5555,#aa0000);
  color: white;
  border: 4px solid #aa0000;
  border-radius: 12px;
  box-shadow: 3px 3px 0 #000;
  transition: transform 0.1s;
}

#bomb-btn button:active {
  transform: translate(3px,3px);
}
