#ui {
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  pointer-events: none; /* biar canvas masih bisa touch */
}

/* Dpad kiri bawah */
#dpad {
  pointer-events: auto;
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tombol bom kanan bawah */
#bomb-btn {
  pointer-events: auto;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* Tombol Dpad */
#dpad button {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 28px;
  background: #222;
  color: white;
  border: 3px solid #555;
  border-radius: 10px;
}

/* Tombol bom besar */
#bomb-btn button {
  width: 100px;
  height: 100px;
  font-size: 48px;
  background: red;
  color: white;
  border: 4px solid #aa0000;
  border-radius: 15px;
}
